.button {
  border: 0;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  outline: none;
  padding: 10px;
  width: 80px;
}

.button--blue {
  background-color: #55acee;
  color: #fff;
}

.button--blue:hover {
  background-color: #6FC6FF;
}

.button--red {
  background-color: #d84a4a;
  color: #fff;
}

.button--red:hover {
  background-color: #f15656;
}

.button--green {
  background-color: #2ecc71;
  color: #fff;
}

.button--green:hover {
  background-color: #48E68B;
}
