.fancyBorder {
  border: 4px solid black;
  border-radius: 4px;
  margin: 20px auto;
  padding: 0 20px;
  width: 400px;
}

.fancyBorder--blue {
  border-color: dodgerblue;
}

.fancyBorder--green {
  border-color: darkolivegreen;
}

.fancyBorder--purple {
  border-color: purple;
}

.fancyBorder--red {
  border-color: crimson;
}

.fancyBorder--yellow {
  border-color: goldenrod;
}
